<div class="menu-item-inner">

	<div class="menu-item-title">

		<h2 class="menu-item-title-inner">{{{title}}}</h2>

	</div>

	<div class="menu-item-graphic">

		<img class="menu-item-graphic-inner" src="{{graphic.src}}"/>

	</div>

	<div class="menu-item-overlay">

		<div class="menu-item-overlay-inner"> 

			<div class="menu-item-body">
				<div class="menu-item-body-inner">
					{{{body}}}
				</div>
			</div>

			<a href="#/id/{{_id}}" class="menu-item-view button">
				<div class="menu-item-view-inner">
					{{{linkText}}}
				</div>
			</a>

		</div>
	</div>
</div>
<div class="menu-item-progress-bar">
	<div class="menu-item-progress-bar-inner">
		<div class="progress-bar">
			<div class="progress-bar-inner" style="width: {{{completedChildrenAsPercentage}}}%">
	
			</div>
		</div>
	</div>
</div>